**Q2 Part b**

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.1)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark.sql import SQLContext,SparkSession
from pyspark.sql.types import StructType,IntegerType, StructField, FloatType, DecimalType
from pyspark.sql.functions import stddev
from pyspark import SparkContext, SparkConf

In [0]:
import pyspark as ps
import warnings
from pyspark.sql import SQLContext
  
sc = ps.SparkContext('local[4]')
sqlContext = SQLContext(sc)

In [0]:
jsonFile = sqlContext.read.option("multiLine","true").option("mode","PERMISSIVE").json("JsonFile.json")

In [5]:
#Print Schema

jsonFile.printSchema()

root
 |-- address: string (nullable = true)
 |-- attributes: struct (nullable = true)
 |    |-- BikeParking: boolean (nullable = true)
 |    |-- BusinessAcceptsBitcoin: boolean (nullable = true)
 |    |-- BusinessAcceptsCreditCards: boolean (nullable = true)
 |    |-- BusinessParking: struct (nullable = true)
 |    |    |-- garage: boolean (nullable = true)
 |    |    |-- lot: boolean (nullable = true)
 |    |    |-- street: boolean (nullable = true)
 |    |    |-- valet: boolean (nullable = true)
 |    |    |-- validated: boolean (nullable = true)
 |    |-- DogsAllowed: boolean (nullable = true)
 |    |-- RestaurantsPriceRange2: long (nullable = true)
 |    |-- WheelchairAccessible: boolean (nullable = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- hours: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)

In [0]:
jsonFile.createOrReplaceTempView("SAMPLE")

In [0]:
#Filtering using SQL

business = sqlContext.sql("Select state from SAMPLE where state = 'AZ'").first()
categories = sqlContext.sql("select categories from SAMPLE").first()
nightLife = sc.parallelize(categories[0]).filter(lambda x : "Nightlife" in x).count()

filteredData = sqlContext.sql("select attributes from SAMPLE").rdd
garage = filteredData.map(lambda row : row["attributes"]["BusinessParking"]["garage"]).collect()[0];

In [8]:
#SQL Conditions

if((business.state == "AZ") and  (garage == "True") and  (nightLife > 0)):
  print(True)
else:
  print(False)

False

In [0]:
#Used Google Collab to run the code