**Q2 Part a**

In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.6/dist-packages (2.4.1)
Requirement already satisfied: py4j==0.10.7 in /usr/local/lib/python3.6/dist-packages (from pyspark) (0.10.7)

In [0]:
from pyspark.sql import SQLContext,SparkSession
from pyspark.sql.types import StructType,IntegerType, StructField, FloatType, DecimalType
from pyspark.sql.functions import stddev
from pyspark import SparkContext, SparkConf

In [0]:
import pyspark as ps
import warnings
from pyspark.sql import SQLContext
  
sc = ps.SparkContext('local[4]')
sqlContext = SQLContext(sc)

In [0]:
jsonFile = sqlContext.read.option("multiLine","true").option("mode","PERMISSIVE").json("JsonFile.json")

In [5]:
business = jsonFile.filter(jsonFile.state == "AZ")
categories = business.rdd.filter(lambda x: "Nightlife" in x["categories"]).toDF()
finalFilter = categories.filter(categories.attributes.BusinessParking.garage == "True")

if finalFilter.count()>0:
    print(True)
else:
    print(False)

False